<h1>New Movie</h1>
<form action="/movies" method="post">
  <div>
    Title: <input type="text" name="title">
  </div>
  <div>
    Plot: <input type="text" name="plot">
  </div>
 
  
  <input type="submit" value="Create New Movie">

</form>


<h1>Show Movies</h1>
<h2><% @movie.title %></h2>
  <h3>Title: <%= @movie.title %> </h1>
  <h3>Plot: <%= @movie.plot %> </h1>



